---
layout: default
---

<b>PUBLICATIONS</b><br>
<p>A list of my publications appears below; see also my <a
    href="https://dblp.org/pid/233/3468.html"
    target="_blank">DBLP</a> and <a
    href="https://scholar.google.com/citations?user=F8zSuhoAAAAJ&hl=en"
    target="_blank">Google Scholar</a> pages. All of them should become
  available at
  some point in open access format (most likely on the <a
    href="https://eprint.iacr.org/"
    target="_blank">ePrint</a> archive). Please let me know if you have trouble
  accessing any of them so that I can help you to get a copy. Authors are listed
  alphabetically by last name.
</p>
<p>My legal surname is "Perez Kempner". However, the
  correct spelling is "Pérez Kempner" and no hyphen should be used between the
  two last names. I generally use a hyphen and no accent to avoid
  confusion/encoding issues. It's always me, though.
</p>

<p><span class="downloadpdf"><a href="#publications"><i
        class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;Full
    Version&nbsp;&nbsp;</span><span class="download"><a href="#publications"><i
        class="fa fa-book"></i></a>&nbsp;&nbsp;Publisher
    Version&nbsp;&nbsp;</span><span class="downloadpdf"><a
      href="#publications"><i
        class="fa fa-television"></i></a>&nbsp;&nbsp;Slides&nbsp;&nbsp;</span><span
    class="download"><a href="#publications"><i
        class="fa fa-globe"></i></a>&nbsp;&nbsp;Web&nbsp;&nbsp;<a
      href="#publications"><i
        class="fa fa-link"></i></a>&nbsp;&nbsp;Bibtex&nbsp;&nbsp;<a
      href="#publications"><i class="fa fa-code"></i></a>&nbsp;&nbsp;Additional
    Material</span></p>
<!--
<table class="pubtable">

<thead>
  <tr><th colspan="3" >Preprints</th></tr>
</thead>

{% for post in site.preprints reversed %}

{% include pubentry.html %}

{% endfor %}
        
</table>
</table>
-->

<table class="pubtable">

  <thead>
    <tr>
      <th colspan="3">Selected Conference Papers</th>
    </tr>
  </thead>

  {% for post in site.proc reversed %}

  {% include pubentry.html %}

  {% endfor %}

</table>

<!--
<table class="pubtable">

<thead>
  <tr><th colspan="3" >Journal Papers</th></tr>
</thead>

{% for post in site.articles reversed %}

{% include pubentry.html %}

{% endfor %}

</table>
-->

<!--
<table class="pubtable">

<thead>
  <tr><th colspan="3" >Articles</th></tr>
</thead>

{% for post in site.articlesworeview reversed %}

{% include pubentry.html %}

{% endfor %}

</table>
-->

<!--
<table class="pubtable">

<thead>
  <tr><th colspan="3" >Books</th></tr>
</thead>

{% for post in site.books reversed %}

{% include pubentry.html %}

{% endfor %}

</table>
-->

<!--
<table class="pubtable">

<thead>
  <tr><th colspan="3" >Theses</th></tr>
</thead>

{% for post in site.theses reversed %}

{% include pubentry.html %}

{% endfor %}

</table>
-->

<table class="pubtable">

  <thead>
    <tr>
      <th colspan="3">Ph.D. Thesis</th>
    </tr>
  </thead>

  {% for post in site.deli reversed %}

  {% include pubentry.html %}

  {% endfor %}

</table>