<h2>Hi there!</h2>

<p style="text-align:justify;">I am researcher in Cryptography, working as a
  postdoctoral fellow at <a href="https://www.rd.ntt/e/sil/"
    target="_blank">NTT Social Informatics Laboratories</a> under the
  supervision of Masayuki Abe. In October 2022, I earned a
  Ph.D. in Computer Science from <a href="https://securite.di.ens.fr/">École
    Normale Supérieure</a>. My thesis, entitled "Malleable
  Cryptography: Advances and Applications to Privacy-enhancing Technologies",
  was supervised by <a href="https://securite.di.ens.fr/en/david-naccache/"
    target="_blank">David Naccache</a> and <a
    href="https://sancy.iut.uca.fr/~lafourcade/"
    target="_blank">Pascal Lafourcade</a>. I also earned an engineering degree
  (Ing.) in Computer
  Science from <a
    href="https://www.fing.edu.uy/carrera/grado/ingenier%C3%ADa-en-computaci%C3%B3n"
    target="_blank">Universidad de la República</a>, which I have obtained in
  2018 (ranked 12/599). During my Ph.D. studies I was a CIFRE fellow working at
  <a href="https://www.be-ys.com"
    target="_blank">be-ys Research</a>. Prior to that, I was a
  teaching assistant (Ayudante, Gr. 1) at <a
    href="https://www.fing.edu.uy/es/node/40926"
    target="_blank">Universidad de la República, Uruguay</a> from 2015 to 2018.
  My interests cover the design of provably secure and practical public-key
  cryptographic primitives and privacy-enhancing technologies. I am particularly
  interested in zero-knowledge proofs, anonymous credentials,
  and post-quantum cryptography. I am a member of the <a
    href="https://www.criptolatino.org/"
    target="_blank">Latin Americans in Cryptography</a> community and the <a
    href="https://www.iacr.org/"
    target="_blank">International Association for Cryptologic Research
    (IACR)</a>.
</p>

<p>My full (academic) CV is available upon request. If you are a student, you
  may find useful to check a list of learning resources that I provide at the
  end of this page. In case you would like to know more about me, other
  information related to my interests outside academia can be found <a
    href="/about.html">on this page</a>.</p>

<!--
<p><b>External Reviews:</b> EuroPKI 2012</p>
-->

<!--
<b>NEWS</b>
<ul style="list-style-type:square">
<li> <b>MM. DD YYYY:</b> Paper accepted at <a href="" target="_blank"></a></li> 
</ul>
-->

<!--
<b>RECENT AND UPCOMING ACTIVITY</b>
<ul style="list-style-type:square">
<li> <b>MM. YYYY:</b>  <a href="" target="_blank"></a>
</ul>
-->

<b>PROJECTS</b>
<ul style="list-style-type:square">
  <!--
<li>Upcoming/Ongoing</li>
<ul style="list-style-type:square">
    <li> <a href="https://project-curex.eu" target="_blank">EU Horizon 2020 CUREX (GA No 826404)</a> (2019-2022)</li>
   
    
</ul>
-->
  <li>Past</li>
  <ul style="list-style-type:square">
    <li> <a href="https://project-curex.eu"
        target="_blank">EU Horizon 2020 CUREX
        (GA No 826404)</a> (2019-2022)</li>
    <li><a href="http://myhealthmydata.eu"
        target="_blank">EU Horizon 2020 MHMD (GA No 732907)</a> (2016-2019)</li>
  </ul>
</ul>

<!--
<b>TEACHING</b>
<ul style="list-style-type:square">
  <li></li>
</ul>
-->