<h2>Welcome to my page</h2>

<p style="text-align:justify;">I am a Research Engineer (Kenkyū Shunin) working
  with the Information Sharing Architecture Group at <a
    href="https://www.rd.ntt/e/sil/"
    target="_blank">NTT Social Informatics Laboratories</a> in Tokyo, Japan.
  Previously, I was a postdoctoral researcher for nearly three years under <a
    href="https://security-kouza.github.io/nanacov/"
    target="_blank">Masayuki Abe</a> also at NTT. I
  earned a Ph.D. in Computer Science from <a
    href="https://securite.di.ens.fr/">École Normale Supérieure</a> in 2022. My
  thesis, "Malleable Cryptography: Advances and Applications to
  Privacy-enhancing Technologies", was supervised by <a
    href="https://securite.di.ens.fr/en/david-naccache/"
    target="_blank">David Naccache</a> and <a
    href="https://sancy.iut.uca.fr/~lafourcade/"
    target="_blank">Pascal Lafourcade</a>. I also earned an engineering degree
  (Ing.) in Computer Science from <a
    href="https://www.fing.edu.uy/carrera/grado/ingenier%C3%ADa-en-computaci%C3%B3n"
    target="_blank">Universidad de la República</a> in
  2018 (ranked 12/599). During my Ph.D. studies, I was a CIFRE fellow working at
  <a href="https://www.be-ys.com"
    target="_blank">be-ys Research</a>, where I focused on blockchain and
  privacy. Prior to that, I was a teaching assistant (Ayudante, Gr. 1) at <a
    href="https://www.fing.edu.uy/es/node/40926"
    target="_blank">Universidad de la República, Uruguay</a> from 2015 to 2018.
  My main research area is cryptography, with a focus on the design and analysis
  of provably secure and practical public-key cryptographic primitives,
  particularly for digital identity. I
  am dedicated to advancing privacy-enhancing technologies that meet the
  challenges of our increasingly digital world. I am a member of the <a
    href="https://latin-american-cryptographers.github.io/"
    target="_blank">Latin Americans in Cryptography</a> community and the <a
    href="https://www.iacr.org/"
    target="_blank">International Association for Cryptologic Research
    (IACR)</a>.
</p>

<p>My full (academic) CV is available upon request. In case you would like to
  know more about me, other information related to my interests outside academia
  can be found <a href="/about.html">on this page</a>. I also share some
  photos from my life in Japan on <a
    href="https://www.flickr.com/photos/204120778@N06/"
    target="_blank">flickr</a>. If
  you are a student, you may find useful to check a list of learning resources
  that I provide <a href="/resources.html">here</a>.</p>


<b>SERVICE</b>
<p>I usually set aside time to serve as a reviewer for venues focused on
  Cryptography, and I am always happy to contribute. If you
  believe I can assist, feel free to reach out — just ensure your message is
  specific, as generic or suspicious emails are automatically filtered as spam.

  As a reference, I will serve or have recently served on the program committees
  of CRYPTO 2026, PKC 2026, LATINCRYPT (2025, 2023), and CANS (2025, 2024).
</p>

<!--
<p><b>External Reviews:</b> EuroPKI 2012</p>
-->

<!--
<b>NEWS</b>
<ul style="list-style-type:square">
<li> <b>MM. DD YYYY:</b> Paper accepted at <a href="" target="_blank"></a></li> 
</ul>
-->

<!--
<b>RECENT AND UPCOMING ACTIVITY</b>
<ul style="list-style-type:square">
<li> <b>MM. YYYY:</b>  <a href="" target="_blank"></a>
</ul>
-->
<!--
<b>PROJECTS</b>
<ul style="list-style-type:square">
  <!--
<li>Upcoming/Ongoing</li>
<ul style="list-style-type:square">
    <li> <a href="https://project-curex.eu" target="_blank">EU Horizon 2020 CUREX (GA No 826404)</a> (2019-2022)</li>
   
    
</ul>

  <li>Past</li>
  <ul style="list-style-type:square">
    <li> <a href="https://project-curex.eu"
        target="_blank">EU Horizon 2020 CUREX
        (GA No 826404)</a> (2019-2022)</li>
    <li><a href="http://myhealthmydata.eu"
        target="_blank">EU Horizon 2020 MHMD (GA No 732907)</a> (2016-2019)</li>
  </ul>
</ul>
-->
<!--
<b>TEACHING</b>
<ul style="list-style-type:square">
  <li></li>
</ul>
-->