  <header>
  <img class="circular--square" src="{{site.authorimg}}" alt="{{site.author}}"/>
  <h1 >{{site.author}}</h1>
  <p class="occup">{{site.authoroccup}}</p>
  <p class="affil"><a href="{{site.uniurl}}">{{site.uni}}</a></p>
  <ul class="extlinks">
    <li><a href="https://twitter.com/{{site.twitter}}" title="Twitter" target="_blank"><i class="fa fa-twitter""></i></a></li>
    <li><a href="https://orcid.org/{{site.orcid}}" title="ORCID" target="_blank"><i class="ai ai-orcid ai-lg"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://dblp.uni-trier.de/pers/{{site.dblp}}" title="DBLP" target="_blank"><i class="fa fa-folder-open"></i></a></li>
    <li><a href="https://scholar.google.com/citations?user={{site.scholar}}&hl=en" title="Google scholar" target="_blank"><i class="ai ai-google-scholar-square"></i></a></li>
    <li><a href="https://keybase.io/{{site.keybase}}" title="Keybase" target="_blank"><i class="fa fa-key"></i></a></li>
     <li><a href="mailto:octavio.perez.kempner@ens.fr" title="mail"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
  </ul>
</header>
